{{!-- {{#mdl-nav
  title='Welcome To Supr Rentals'
  fixedDrawer=true
  mobileTitle='Fixed Drawer'}}
  {{mdl-nav-item name='About'    route='about'    inDrawer=false}}
  {{mdl-nav-item name='Contact Us'     route='contact'}}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">

  </div>
  </div>
{{/mdl-nav}} --}}


{{outlet}}
